body{
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

html{
    font-size: 62.5%;
}
.hero{
    background-color: #1F2937;
    

}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    max-width: 100%;
    width: 200px;
    margin-right: auto;
}

li{
 list-style-type: none;
 padding: 10px;

}
li a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}
.nav-bar{
    display: flex;
        /* width: 320px; */
    /* height: 50px;   */
    margin-left: auto;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.text-content{
    color: #F9FAF8;
    max-width: 40rem;
}

.paraHeader{
    font-size: 4.8rem;
}

button{
    background-color: #3882F6;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}
.heroImg{
    max-width: 100%;
    height: 200px;
   
}
.info{
    height: auto;
}
h2{
    text-align: center;
}

.social img{
    max-width: 200px;
    max-height: 200px;
}

.site{
    display: flex;
    flex-direction: column;
   align-items: center;
   margin: 1rem 0;
}

.social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
 

}

.quote{
    background-color: #E5E7EB;
    height: auto;
}

.text{
    max-width: 60rem;
    max-height: 36.6rem;
    font-size: 3.6rem;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    padding-top: 1.1rem;
    color: #1F2937;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}
.menu{
    font-size: 3.2rem;
}

@media(max-width:768px){
    
    .nav-bar{
        display: none;
    }
    .paraHeader{
        font-size: 3.2rem;
    }
   .content{
    align-items: center;
    flex-direction:column ;
    gap:20px;
   }
   
   
}

@media(max-width:580px){

    .social{
        flex-direction: column;
    }
   .text{
    font-size: 2rem;
   }
}



@media(min-width:768px){
    .menu{
        display: none;
    }
}